.DS_Store*

data
data/*

quality_control/*.png
quality_control/*.JPG
quality_control/figures
quality_control/*.csv

docs/*.docx
docs/pandoc-acro

.Rhistory

*.mat
exploratory_figures
visualize_graph.py
